body {
    background-image: url('https://images3.alphacoders.com/108/1083500.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 4em;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.8;
  }
  